body {
    color: $primary-text-color;
    font-family: $primary-font;
    font-weight: normal;
    line-height: 1.2;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $primary-font;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        * {
            font-size: inherit;
            line-height: inherit;
        }
    }
    p {
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 14px;
        font-family: $secondary-font;
    }
    h1 {
        font-size: 44px;
        margin-bottom: 16px;
        font-family: $secondary-font;
    }
    h2 {
        font-size: 48px;
        margin-bottom: 32px;
    }
    h3 {
        font-size: 28px;
        margin-bottom: 24px;
    }
    h4 {
        font-size: 20px;
        margin-bottom: 30px;
        font-family: $secondary-font;
    }
    h5 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    h6 {
        font-size: 14px;
        margin-bottom: 4px;
    }
    ul,
    ol {
        padding-left: 20px;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 14px;
        li {
            margin-bottom: 4px;
        }
    }
    ul {
        list-style: disc inside;
    }
    ol {
        list-style: decimal inside;
    }
    a {
        color: $primary-color;
        &:hover {
            text-decoration: underline;
        }
    }
    strong,
    b {
        font-weight: bold;
    }
    em,
    i {
        font-style: italic;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}