// bootstrap related
$container-max-widths: ( xl: 1400px, ) !default;
$grid-breakpoints: ( xs: 0, sm: 540px, md: 769px, lg: 1024px, xl: 1284px, xxl: 1700px, ) !default;
$grid-gutter-width: 30px;
// colors
$ocean-blue: #356EAD;
$white :#fff;
$black: #000;
$titles:#1F3F68;
$bg-header:#3481D7;
$sunny-yellow: #fff917;
$primary-color: $ocean-blue;
$secondary-color: $sunny-yellow;
$primary-text-color: $ocean-blue;
$secondary-text-color: $ocean-blue;
// fonts
$primary-font:'Stint Ultra Condensed',
cursive;
$secondary-font: "Open Sans",
sans-serif;
// sizes

/*
use these variables when bootstrap is not imported
$container: 1200px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 768px;
$phone-small-max: 320px;
*/