.alignn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin: 24px 0 56px 0;
    justify-content: space-between;
    button {
        border: 0;
        outline: none;
        color: $ocean-blue;
        font-size: 16px;
        cursor: pointer;
    }
}

#listing .card {
    margin-bottom: 32px;
}

.fav {
    color: yellow;
}