form,
input {
    width: 100%;
}

input {
    width: 100%;
    padding: 15px;
    margin: 4px;
    box-sizing: border-box;
    padding-left: 60px;
    border: none;
    margin-bottom: 56px;
    &:focus {
        border: 1 px solid $ocean-blue;
    }
}

.Icon-inside {
    position: relative;
}

.Icon-inside i {
    position: absolute;
    left: 16px;
    top: 11px;
    padding: 10px 10px;
    color: #30A3F1;
}

.Icon-outside {
    position: relative;
}

.Icon-outside i {
    position: absolute;
    margin-left: -6px;
    top: 4px;
    padding: 17px 15px;
    color: #30A3F1;
    background: black;
}