.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            font-size: 55px;
        }
        .socials {
            font-size: 20px;
            .names h6 {
                font-size: 26px;
            }
        }
    }
}

.boxx {
    width: 100%;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    color: $ocean-blue;
    font-size: 40px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pop {
    margin-bottom: 56px;
}